<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <app-pie-chart [data]=graficos.grafico1></app-pie-chart>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <app-pie-chart [data]=graficos.grafico2></app-pie-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <app-pie-chart [data]=graficos.grafico3></app-pie-chart>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <app-pie-chart [data]=graficos.grafico4></app-pie-chart>
                </div>
            </div>
        </div>
    </div>
</div>


